<div class="container mt-4">
    <h2 id="loginHeading" class="text-center mb-2 btn-shine fs-2 fw-bold">Login</h2>
    <div class="row mt-3">
        <div class="col-12 col-sm-10 col-md-6 mx-auto">
            <form 
                class="shadow px-5 py-5" 
                [formGroup]="userTypeForm" 
                #formRef="ngForm" 
                (ngSubmit)="formRef.valid && onSubmit(template)" 
                aria-labelledby="loginHeading" 
                role="form">
                
                <!-- username -->
                <div class="form-group mt-3">
                    <label for="user" class="form-label"><i class="fa-solid fa-user"></i> Username<span aria-hidden="true" class="mandatory-field">*</span></label>
                    <input 
                        type="text" 
                        name="username" 
                        id="user" 
                        class="form-control" 
                        formControlName="username" 
                        aria-required="true" 
                        aria-describedby="usernameError">
                    <!-- error message -->
                    <div 
                        *ngIf="(formRef.submitted || username.dirty || username.touched) && username.errors" 
                        id="usernameError" 
                        class="error-message" 
                        aria-live="assertive">
                        <i class="fas fa-exclamation-circle me-2"></i>
                        <span *ngIf="username.errors?.['required']">Username is required</span>
                    </div>
                </div>

                <!-- password -->
                <div class="form-group mt-3">
                    <label for="password" class="form-label"><i class="fa-solid fa-lock"></i> Password<span aria-hidden="true" class="mandatory-field">*</span></label>
                    <input 
                        type="password" 
                        name="password" 
                        id="password" 
                        class="form-control" 
                        formControlName="password" 
                        aria-required="true" 
                        aria-describedby="passwordError">
                     <!-- error message -->
                     <div 
                         *ngIf="(formRef.submitted || password.touched || password.dirty) && password.errors" 
                         id="passwordError" 
                         class="error-message" 
                         aria-live="assertive">
                            <i class="fas fa-exclamation-circle me-2"></i>
                            <span *ngIf="password.errors?.['required']">Password is required</span>
                     </div>
                </div>

                <!-- button -->
                <button 
                    class="btn d-block mx-auto mt-3 fw-bold" 
                    id="loginButton" 
                    type="submit" 
                    aria-label="Login">
                    Login
                </button>

                <!-- signup -->
                <p class="new user mt-3 text-center" aria-live="polite">
                    New to Cinemata? Not registered?
                </p>
                <p class="text-center">
                    Please 
                    <button 
                        class="btn btn-primary rounded-pill" 
                        (click)="goToSignUp()"
                        aria-label="Signup">
                        Sign Up
                    </button> 
                    here
                </p>
            </form>
        </div>
    </div>
</div>

<ng-template #template>
    <div 
        class="modal-content" 
        role="dialog" 
        aria-modal="true" 
        aria-labelledby="loginDialogTitle">
        <div class="modal-header">
            <h4 id="loginDialogTitle" class="modal-title text-center">Login</h4>
            <button 
                type="button" 
                class="btn-close" 
                aria-label="Close" 
                (click)="modalRef?.hide()"> 
            </button>
        </div>
        <div class="modal-body" aria-live="assertive">
            <div *ngIf="error && errorMessage=='Invalid Username'" class="modal-error-message text-center">
                <i class="fas fa-exclamation-circle"></i>
                <h5>Invalid Username. Please check and retry</h5>
            </div>
             <div *ngIf="error==true && errorMessage=='Invalid Password'" class="modal-error-message text-center">
                <i class="fas fa-exclamation-circle"></i>
                <h5>Invalid Password. Please check and retry</h5>
            </div>
        </div>
        <div class="modal-footer">
            <button 
                type="button" 
                class="modal-btn text-center" 
                (click)="confirm()">OK</button>
        </div>
    </div>
</ng-template>
