<div class="container mt-4 mb-5 pb-3">
    <h4 id="signupHeading" class="text-center mb-2 fs-2 fw-bold">Signup Form</h4>
    <div class="row">
        <div class="col-12 col-sm-10 col-md-6 mx-auto">
            <form [formGroup]="usersignupForm" #formRef="ngForm" (ngSubmit)="formRef.valid && onSubmit(template)" 
                   class="shadow px-5 py-5" aria-labelledby="signupHeading" role="form">
                
                <!-- username -->
                <div class="form-group mt-3">
                    <label for="username" class="form-label"><i class="fa-solid fa-user"></i> Username<span aria-hidden="true" class="mandatory-field">*</span></label>
                    <input type="text" name="username" id="username" class="form-control" formControlName="username" aria-required="true" aria-describedby="usernameError">
                    <!-- error message -->
                    <div *ngIf="((username.dirty || username.touched) && username.invalid || formRef.submitted) && username.errors" 
                         id="usernameError" 
                         class="error-message" aria-live="assertive">
                        <span *ngIf="username.errors?.['required']"><i class="fas fa-exclamation-circle me-2"></i> Username is required</span>
                    </div>
                </div>

                <!-- password -->
                <div class="form-group mt-3">
                    <label for="password" class="form-label"><i class="fa-solid fa-lock"></i> Password<span aria-hidden="true" class="mandatory-field">*</span></label>
                    <input type="password" name="password" id="password" class="form-control" formControlName="password" aria-required="true" aria-describedby="passwordError">
                    <!-- error message -->
                    <div *ngIf="((password.dirty || password.touched) && password.invalid || formRef.submitted) && password.errors" 
                         id="passwordError" 
                         class="error-message" aria-live="assertive">
                        <div *ngIf="password.errors?.['required']"><i class="fas fa-exclamation-circle me-2"></i> Password is required</div>
                        <div *ngIf="password.errors?.['minlength']"><i class="fas fa-exclamation-circle me-2"></i> Password should be minimum five characters long</div>
                        <div *ngIf="password.errors?.['pattern']"><i class="fas fa-exclamation-circle me-2"></i> Password pattern is not matched - Min 1 uppercase, 1 Lowercase, 1 numeric - Eg: John1</div>
                    </div>
                </div>

                <!-- email -->
                <div class="form-group mt-3">
                    <label for="email" class="form-label"><i class="fa-solid fa-envelope"></i> Email<span aria-hidden="true" class="mandatory-field">*</span></label>
                    <input type="email" name="email" id="email" class="form-control" formControlName="email" aria-required="true" aria-describedby="emailError">
                    <!-- error message -->
                    <div *ngIf="((email.dirty || email.touched) && email.invalid || formRef.submitted) && email.errors" 
                         id="emailError" 
                         class="error-message" aria-live="assertive">
                        <div *ngIf="email.errors?.['required']"><i class="fas fa-exclamation-circle me-2"></i> Email is required</div>
                        <div *ngIf="email.errors?.['pattern']"><i class="fas fa-exclamation-circle me-2"></i> Please enter valid email address</div>
                    </div>
                </div>

                <!-- city -->
                <div class="form-group mt-3">
                    <label for="city" class="form-label"><i class="fa-solid fa-city"></i> City<span aria-hidden="true" class="mandatory-field">*</span></label>
                    <input type="text" name="city" id="city" class="form-control" formControlName="city" aria-required="true" aria-describedby="cityError">
                    <!-- error message -->
                    <div *ngIf="((city.dirty || city.touched) && city.invalid || formRef.submitted) && city.errors" 
                         id="cityError" 
                         class="error-message" aria-live="assertive">
                        <i class="fas fa-exclamation-circle me-2"></i> 
                        <span *ngIf="city.errors?.['required']">City is required</span>
                    </div>
                </div>

                <!-- age -->
                <div class="form-group mt-3">
                    <label for="age" class="form-label"><i class="fa-solid fa-image-portrait"></i> Age<span aria-hidden="true" class="mandatory-field">*</span></label>
                    <input type="number" name="age" id="age" class="form-control" formControlName="age" aria-required="true" aria-describedby="ageError">
                    <!-- error message -->
                    <div *ngIf="((age.dirty || age.touched) && age.invalid || formRef.submitted) && age.errors" 
                         id="ageError" 
                         class="error-message" aria-live="assertive">
                        <i class="fas fa-exclamation-circle me-2"></i> 
                        <span *ngIf="age.errors?.['required']">Age is required</span>
                    </div>
                </div>

                <!-- button -->
                <button class="btn btn-info d-block mx-auto mt-3" aria-label="Signup" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-content" role="dialog" aria-modal="true" aria-labelledby="signupDialogTitle">
        <div class="modal-header">
            <h4 id="signupDialogTitle" class="modal-title text-center">Sign up</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
        </div>
        <div class="modal-body" aria-live="assertive">
            <div *ngIf="error" class="text-center modal-error-message">
                <i class="fas fa-exclamation-circle"></i>
                <h5>Username already taken. Please take some other username</h5>
            </div>
            <div *ngIf="error==false" class="text-center success-message">
                <i class="fas fa-check-circle"></i>
                <h5>User Created Successfully</h5>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-btn text-center" (click)="confirm()">OK</button>
        </div>
    </div>
</ng-template>
