<div class="d-block mx-auto mt-3" *ngIf="toBeRestored?.length==0">
    <div class="card restore">
        <svg width="200" height="200" viewBox="0 0 24 24" fill="none" class="w-50 mt-2 d-block mx-auto">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm1-6h-2V7h2v7z"
                  fill="#bd93f9"/>
            <path d="M18 11h-2V9h2v2zm0-4h-2V5h2v2zm-8 8h-2v-2h2v2zm0-4h-2V9h2v2zm0-4h-2V5h2v2z"
                  fill="#bd93f9"/>
        </svg>
        <div class="card-img-overlay">
            <div class="card-title">
                <h4 class="text-center">No movies to restore!</h4>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4">
        <div class="col mb-2" *ngFor="let value of toBeRestored">
            <div class="card h-100 shadow">
                <img [src]="value.img" alt="image">
                <div class="card-body text-center text-white">
                    <button class="btn"><h6>{{value.movieName}}</h6></button>
                    <h6>{{value.movieGenre}}</h6>
                </div>
                <div class="card-footer bg-transparent">
                    <button type="button" (click)="restoreMovie(value.movieName)" class="btn btn-primary rounded-circle d-block mx-auto"><i class="fa-solid fa-arrows-rotate"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>