<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-6 mx-auto">
                <!-- movie name -->
                <div class="form-group mt-3 p-4 shadow1">
                    <label for="" class="form-label">Enter the Movie to Remove<span class="mandatory-field">*</span></label>
                    <input type="text" name="" id="" [value]="this.userServiceObj.deleteMovieBehaviourSubject.getValue()" #movie class="form-control">
                </div>
                <!-- button -->
                <button class="btn btn-danger d-block mx-auto mt-3" (click)="confirmdelete(template)">Delete</button>
        </div>
    </div>
</div>



<ng-template #template>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-center">Movie Delete</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
        </div>
        <div class="modal-body">
            <div *ngIf="ask" class="text-center" class="warning-message">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <h5>Are you sure to delete the movie</h5>
            </div>
            <div *ngIf="successsignup" class="text-center" class="success-message">
                <i class="fas fa-check-circle"></i>
                <h5>Movie Deleted</h5>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="confirm()" *ngIf="hide">Yes</button>
            <button type="button" class="btn btn-primary" (click)="decline()" *ngIf="hide">No</button>
            <button type="button" class="btn btn-primary" (click)="deleteconfirm(movie.value)" *ngIf="!hide">Ok</button>
        </div>
    </div>
</ng-template>
